@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&family=Roboto+Slab:wght@400;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-y: hidden;
    overflow-x: hidden;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    padding: 10px 50px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.cabecalho a {
    font-size: 30px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu a {
    color: #D3D3D3;
    font-weight: 800;
    font-family: 'Roboto Slab', serif;
}

.preVenda a {
    color: white;
    background-color: darkred;
    padding: 1px 30px;
    border-radius: 13px;
    font-family: 'Roboto Slab', serif;
}

.logo img {
    height: 80px;
    width: auto;
}

/* Fim do cabeçalho, início do main */

main {
    min-height: calc(100vh - 103px);
    background-image: url("../img/fundo-secoes.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.subtitulo {
    position: absolute;
    top: 60px;
    left: 150px;
}

.subtitulo a {
    color: red;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
}

.subtitulo h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 70px;
    font-weight: 900;
    color: #d7d7d7;
}

.subtitulo p {
    color: lightblue;
    font-size: 40px;
}

/* Precos */

.precos {
    display: flex;
    justify-content: center;
    margin-top: 300px;
    font-family: 'Roboto Slab', serif;
    gap:50px;
}

.precos h1 {
    color: lightblue;
    font-size: 55px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

.precos h2 {
    color: lightblue;
    font-size: 25px;
}

.precos li {
    color: #d7d7d7;
    font-size: 22px;
}

.precos div {
    background-color: #1c1c1c;
    padding: 25px 20px;
    border-radius: 15px;
}

.precos h3 {
    font-size: 65px;
    color: rgb(180, 0, 0);
}